/*----------------- HOME PAGE --------------------*/

.html {
    scroll-snap-type: y mandatory;
}

section{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    scroll-snap-align: start;
}

*,
*:before,
*:after {
    box-sizing: border-box;

}

.html::-webkit-scrollbar {
    width: 12px;
}

.html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(102, 46, 46, 0.491);
    border-radius: 20px;

}

.html::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(240, 74, 74, 0.5);

}

.homeBase1 {
    height: 100%;
    background-image: url("../../assets/images/bg-definitivo-red.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.backGroundNeon1 {
    height: 100%;
    background-image: url("../../assets/images/bg-definitivo-red.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    scroll-snap-align: start;
}

.fixImgCardHome {
    position: relative;
    height: 300px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 40px;
    display: hidden;
    transform: scale(0.9) translateY(0px) translateX(0px);
    animation: bg-animation2 5s  cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-iteration-count: 1;
    
}

.alignCards{
    width: 100%;
    min-height: 100%;
    overflow-x: "scroll";
    overflow-y: "hidden";
}

.alignCards::selection {
    color: rgb(255, 255, 255);
    background: rgba(238, 166, 166, 0.724);
}

.alignCards::-webkit-scrollbar {
    max-height: 8px;
    opacity: 0.2;
    scroll-snap-align: start;
}

.alignCards::-webkit-scrollbar-track {
    
    -webkit-box-shadow: inset 0 0 12px rgb(202, 118, 119);
    border-radius: 10px;
    background-color: rgba(180, 107, 115, 0.87);
}

.alignCards::-webkit-scrollbar-thumb {
    opacity: 0.5;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 12px rgba(196, 56, 5, 0.885);
    background-color: rgba(245, 72, 72, 0.4);
}


.fixImgCardHome::hover {
    
    transform: scale(1.2) translateY(0px) translateX(0px);
}




@keyframes bg-animation2{
    0% {
            display: block;
            transition: 0.2s;
            transform: scale(0.3)    }
    
        50% {
            transition: 0.3s;
            transform: scale(0.8)
        }
    
        100% {
            transition: 0.5s;
            transform: scale(0.9) translateY(0px) translateX(0px)  }


}

.contentCard{
    width: 100%;
    
}
.contentCard:hover {
    text-align: center;
    color: rgb(182, 43, 43);
    text-shadow: 2px 2px 22px rgb(130, 103, 103);
    background: rgba(0, 0, 0, 0.9);
    transition: 1s;
    letter-spacing: 1.5px;
    transform: scale(1.1) translateY(-30px) translateX(0px);

}

     
@media screen and (max-width: 576px){
    .contentCard2 {
        width: auto;

    }
}



.contentCard2:hover {
    text-align: center;
    color: rgb(255, 190, 190);
    text-shadow: 2px 2px 22px rgb(130, 103, 103);
    background: rgba(22, 16, 16, 0.8);
    transition: 1s;

}

.cardLandingPage {
    max-width: 500px;
    max-height: 500px;
    box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
    border-radius: 50px;
    padding: auto;
}

@media screen and (max-width: 576px) {
    .fixImgCardHome {
        position: relative;
        width: 100%;
        height: 295px;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }
}


@media screen and (max-width: 992px) {
    .cardLandingPage {
        width: 300px;
        height: 500px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }
    .fixImgCardHome {
        position: relative;
        height: 500px;
        max-width: 600px;
        object-fit: cover;
        border-radius: 10px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 5s cubic-bezier(0.215, 0.610, 0.355, 1);
        animation-iteration-count: 1;

    }

    .cardSingleCol {
        max-width: 300px;
        padding: 0 100px
    }



    .cardSingleColSelect {
        max-width: 500px;
        padding: 0 100px
    }

    .cardSingleColSelect:hover {
        transition: 1.5s;
        max-width: 300px;
        margin: 0 50px;
        padding: 0 100px;
    }

}

@media screen and (min-width: 993px) and (max-width: 1201px) {
    .cardLandingPage {
        width: 500px;
        height: 500px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }
    .fixImgCardHome {
        position: relative;
        height: 490px;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }

}

@media screen and (min-width: 1202px) and (max-width: 1399px) {
    .cardLandingPage {
        max-width: 500px;
        max-height: 550px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }

    .fixImgCardHome {
        position: relative;
        height: 490px;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }

}


@media screen and (min-width: 1400px) {
    .cardLandingPage {
        max-width: 500px;
        max-height: 550px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }

    .fixImgCardHome {
        position: relative;
        height: 490px;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }

}

.backgroundText {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    width: 100vw;
    font-size: 90px;
    letter-spacing: 12px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../../assets/images/bg-testo-forse-def.png");
    background-size: 350%;
    
    animation: bg-animation 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
    padding: 0 20px;
    text-align: center;
}


@media screen and (min-width: 1400px){
    .cardSingleCol {
            max-width: 2000px;
            padding: 0 200px
        }
    
    
    
        .cardSingleColSelect {
            max-width: 400px;
    
        }
    
        .cardSingleColSelect:hover {
            transition: 1.5s;
            max-width: 500px;
            margin: 0 50px;
            padding: 0 100px;
        }

}


@media screen and (min-width: 1202px) and (max-width: 1399px) {
        .cardSingleCol {
                max-width: 1400px;
                padding: 0 200px
            }
        
        
        
            .cardSingleColSelect {
                max-width: 500px;
        
            }
        
            .cardSingleColSelect:hover {
                transition: 1.5s;
                max-width: 500px;
                margin: 0 50px;
                padding: 0 100px;
            }

}

@media screen and (min-width: 993px) and (max-width: 1201px) {
    .cardSingleCol {
        max-width: 1200px;
        padding: 0 100px
    }



    .cardSingleColSelect {
        max-width: 300px;

    }

    .cardSingleColSelect:hover {
        transition: 1.5s;
        max-width: 400px;
        margin: 0 50px;
        padding: 0 60px;
    }

}

@media screen and (min-width: 577px) and (max-width: 992px){
    .cardSingleCol {
            max-width: 1200px;
            padding: 0 100px
        }
    
    
    
        .cardSingleColSelect {
            max-width: 300px;
    
        }
    
        .cardSingleColSelect:hover {
            transition: 1.5s;
            max-width: 400px;
            margin: 0 50px;
            padding: 0 60px;
        }
}

@media screen and (max-width: 576px) {
    .cardSingleCol {
        max-width: 1200px;
        padding: 0 100px
    }



    .cardSingleColSelect {
        max-width: 300px;

    }

    .cardSingleColSelect:hover {
        transition: 1.5s;
        max-width: 400px;
        margin: 0 50px;
        padding: 0 60px;
    }
}






