/*----------------- HOME PAGE --------------------*/

.homeBase {
    height: 100%;
    background-image: url("../../assets/images/horizon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.backGroundNeon {
    background-image: url("../../assets/images/horizon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    animation: bg-animation2 5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.fixImgCardHome {
    max-height: 300px;
    object-fit: cover;
    border-radius: 30px;
    display: hidden;
    transform: scale(1) translateY(0px) translateX(0px);
    animation: bg-animation2 5s  cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-iteration-count: 1
}

@media screen and (max-width: 576px) {
    .fixImgCardHome {
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 5s cubic-bezier(0.215, 0.610, 0.355, 1);
        animation-iteration-count: 1
    }
}

@keyframes bg-animation2{
    0% {
            display: block;
            transition: 0.2s;
            transform: scale(1) translateY(850px) translateX(0px)    }
    
        50% {
            transition: 0.3s;
            transform: scale(0.8) translateY(0px) translateX(-200px)
        }
    
        100% {
            transition: 0.5s;
            transform: scale(1) translateY(0px) translateX(0px)  }


}

.contentCard{
    width: 100%;
    
}