/*----------------- HOME PAGE --------------------*/

.html {
    display: block;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(102, 46, 46, 0.491);
    border-radius: 20px;

}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(240, 74, 74, 0.5);

}

.homeBase1 {
    height: 100%;
    background-image: url("../../assets/images/bg-definitivo-red.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.backGroundNeon1 {
    height: 100%;
    background-image: url("../../assets/images/bg-definitivo-red.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    
}

.fixImgCardHome {
    
    height: 500px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 40px;
    display: hidden;
    transform: scale(0.9) translateY(0px) translateX(0px);
    animation: bg-animation2 5s  cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-iteration-count: 1;
    
}

.fixImgCardHome::hover {
    border-radius: 40px;
    transform: scale(1.2) translateY(0px) translateX(0px);
}


@media screen and (max-width: 576px) {
    .fixImgCardHome {
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }
}

@keyframes bg-animation2{
    0% {
            display: block;
            transition: 0.2s;
            transform: scale(0.3)    }
    
        50% {
            transition: 0.3s;
            transform: scale(0.8)
        }
    
        100% {
            transition: 0.5s;
            transform: scale(0.9) translateY(0px) translateX(0px)  }


}

.contentCard{
    width: 100%;
    
}
.contentCard:hover {
    text-align: center;
    color: rgb(182, 43, 43);
    text-shadow: 2px 2px 22px rgb(130, 103, 103);
    
    transition: 1s;
    letter-spacing: 1.75px;
    transform: scale(1.2) translateY(-30px) translateX(0px);

}
        
.cardLandingPage {
    max-width: 700px;
    max-height: 700px;
    box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
    border-radius: 50px;
    padding: auto;
}

@media screen and (max-width: 992px) {
    .cardLandingPage {
        max-width: 300px;
        max-height: 300px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }


}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .cardLandingPage {
        max-width: 300px;
        max-height: 350px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }


}

.backgroundText {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    width: 100vw;
    font-size: 90px;
    letter-spacing: 12px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../../assets/images/bg-testo-forse-def.png");
    background-size: 350%;
    
    animation: bg-animation 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
    padding: 0 20px;
    text-align: center;
}