/*----------------- HOME PAGE --------------------*/

.homeBase1 {
    height: 100%;
    background-image: url("../../assets/images/via-nicola-fabr-bg-red.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.backGroundNeon1 {
    height: 100%;
    background-image: url("../../assets/images/bg-redshift-editable.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    
}

.fixImgCardHome {
    
    height: 500px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 40px;
    display: hidden;
    transform: scale(0.9) translateY(0px) translateX(0px);
    animation: bg-animation2 5s  cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-iteration-count: 1;
    
}

.fixImgCardHome::hover {
    border-radius: 40px;
    transform: scale(1.2) translateY(0px) translateX(0px);
}


@media screen and (max-width: 576px) {
    .fixImgCardHome {
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }
}

@keyframes bg-animation2{
    0% {
            display: block;
            transition: 0.2s;
            transform: scale(0.3)    }
    
        50% {
            transition: 0.3s;
            transform: scale(0.8)
        }
    
        100% {
            transition: 0.5s;
            transform: scale(0.9) translateY(0px) translateX(0px)  }


}

.contentCard{
    width: 100%;
    
}
.contentCard:hover {
    text-align: center;
    color: rgb(182, 43, 43);
    text-shadow: 2px 2px 22px rgb(130, 103, 103);
    
    transition: 1s;
    letter-spacing: 1.75px;
    transform: scale(1.2) translateY(-30px) translateX(0px);

}
        