.html {
    display: block;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mandali', sans-serif;
}


*, *:before,
*:after {
    box-sizing: border-box;
    
}

::selection {
    color: rgb(255, 116, 116);
    background: rgba(86, 7, 7, 0.604);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(102, 46, 46, 0.491);
    border-radius: 20px;

}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(240, 74, 74, 0.5);

}



.backGroundNeon{
    height: 100%;
    background-image: url("../src/assets/images/bg-definitivo-red.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow-x: none;
    scroll-snap-align: start;
}




.homeBase{
    height: 100%;
    background-image: url("../src/assets/images/bg-definitivo-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    scroll-snap-align: start;
    
}

@media screen and (max-height: 750px) {
    .backGroundNeon {
            height: 100%;
            background-image: url("../src/assets/images/bg-definitivo-red.png");
            background-position: center;
            background-repeat: no-repeat;
            object-fit: cover;
            min-height: min-content;
        }
    .homeBase {
            height: 100%;
            background-image: url("../src/assets/images/bg-definitivo-red.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
        }
}

@media screen and (max-width: 576px){
    .homeBase {
    height: 100%;
    background-image: url("../src/assets/images/bg-definitivo-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    }
}

.welcomePage{
    height: 200px;
    background-size: cover;
    background-color: rgb(85, 0, 20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.backgroundText{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    width: 100vw;
    font-size: 90px;
    letter-spacing: 12px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/red-baron.jpg");
    background-size: 150%;
    animation: bg-animation 30s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
    padding: 0 20px;
    text-align: center;
}


.backgroundText:hover{
    font-size: 110px;
    letter-spacing: 14px;
    text-shadow: 1px 5px 50px rgb(120, 74, 74);
    transition: 2.5s;

}

@keyframes bg-animation {
    0%{background-position: 0% 0%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0% 0%;}
}

.boxToAnimate{
    animation: text-animation1 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes text-animation1{
    0% {
        box-shadow: 0px 10px 13px -7px #000000, 0px 15px 40px 7px #FF6A6A; }

    50% {
        box-shadow: 0px 10px 13px -7px #000000, 0px 15px 80px 7px #FF6A6A; }

    100% {
        box-shadow: 0px 10px 13px -7px #000000, 0px 15px 40px 7px #FF6A6A; }
}

/*-----NAV--------*/

.logoRedshift{
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.offcanvasStyle1{
    background: rgba(42, 42, 42, 0.7);

}

.btnNavOffcanv{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/bg-testo-forse-def.png");
    background-size: 250%;
    animation: bg-animation 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(251, 159, 159);
}

.textCardLandingPage{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 12px;
    
    letter-spacing: 1.2px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/red-baron.jpg");
    background-size: 150%;
    animation: bg-animation 7s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
}

.arrowbtnNavOffcanv{
    color: rgb(229, 229, 229);
    text-shadow: 5px 5px 90px rgb(208, 78, 78);
}

.backgroundTextNav {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    
    font-size: 16px;
    letter-spacing: 1.5px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/mountains-planet-sunrise-surreal-foggy-5k-6000x3624-1154.jpg");
    background-size: 150%;
    animation: bg-animation 30s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
}

.backgroundTextNav:hover {
    font-size: 32px;
    letter-spacing: 3px;
    text-shadow: 1px 5px 50px rgb(109, 65, 65);
    transition: 1s;

}

.textTitleNavOffcanv{
    font-size: 32px;
    letter-spacing: 3px;
    text-shadow: 1px 5px 50px rgb(179, 173, 173);
    transition: 1s;
}

.settingTextNav {
    
    background-size: cover;
    background-color: #332702;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------  CARD LANDING PAGE  ---------------- */

.cardLandingPage{
    width: 700px;
    max-height: 500px;
    box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
    border-radius: 50px;
    padding: auto;
}



@media screen and (max-width: 576px) {
    .ImgResponsivenessLP {
        width: 100%;
        height: 600px;
        border-radius: 50px;
        object-fit: cover;
    }
    .cardLandingPage {
            margin: 0 16px;
            max-width: 400px;
            height: 600px;
            box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
            border-radius: 50px;
            padding: auto;
        }
    .cardImgLandingPage {
        padding: 0 0px;
        display: hidden;
        max-width: 400px;
        height: 300px;
        transform: scale(0.8);
        animation: cardAnimationLand 5s 1 cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
}



.textCardBio {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/sfondocard-white-orange.png");
    background-size: 220%;
    animation: bg-animation 7s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(199, 199, 199);
}

@media screen and (min-width: 577px) and (max-width: 1199px) {
    .ImgResponsivenessLP {
            width: 100%;
            height: 500px;          
            object-fit: cover;

        }
    
        .cardLandingPage {
            margin: 0 16px;
            min-width: 500px;
            height: 500px;
            box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
            display: flex;
            align-items: center;
            padding: auto;
        }
    
        .cardImgLandingPage {
            
            
            display: hidden;
            width: 500px;
            height: 300px;
            transform: scale(0.5);
            animation: cardAnimationLand 5s 1 cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    
        .textCardBio {
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1.5px;
            color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-image: url("../src/assets/images/sfondocard-white-orange.png");
            background-size: 220%;
            animation: bg-animation 7s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
            text-shadow: 1px 5px 90px rgb(199, 199, 199);
        }

}

@media screen and (min-width: 1400px) {
    .ImgResponsivenessLP {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        object-fit: cover;
    }

    .cardLandingPage {
        margin: 0 16px;
        width: 900px;
        height: 500px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }

    .cardImgLandingPage {
        padding: auto;
        display: hidden;
        width: 100%;
        height: 500px;
        transform: scale(1);
        animation: cardAnimationLand 5s 1 cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .textCardBio {
        width: 100%;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1.5px;
        color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: url("../src/assets/images/sfondocard-white-orange.png");
        background-size: 220%;
        animation: bg-animation 7s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
        text-shadow: 1px 5px 90px rgb(199, 199, 199);
    }

}


.iconToTitleLand{
    font-size: 32px;
    color: rgba(232, 100, 12, 0.8);
    text-shadow: 5px 5px 90px rgb(208, 78, 78);
    margin: 0px 200px;
}

.cardImgLandingPage{
    display: hidden;
    max-width: 700px;
    max-height: 700px;
    transform:scale(0.8);
    animation: cardAnimationLand 5s 1 cubic-bezier(0.215, 0.610, 0.355, 1);
}



@keyframes cardAnimationLand{
    0%{display: flex;
        transition: 1s;
        transform: scale(0.1) translateY(850px) translateX(-850px) ;}
    50%{transition: 0.5s;
        transform: scale(1) translateY(0px) translateX(-100px);}
    
    75%{transition: 0.2s;
        transform: scale(0.8) translateY(0px) translateX(0px);}    

    100%{transition: 0.2s;
        transform: scale(0.8) translateY(0px) translateX(0px);}
}




/*-------------- LOGIN  ----------------*/

.Login{
    margin: 150px 0;
    width: 100%;
    color: #ffffff;
    
    appearance: none;
    
    
}

.formController{
    border: none;
    appearance: none;
    box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
    border: 2px solid rgb(197, 99, 99);
    text-shadow: 1px 5px 90px rgb(209, 209, 209);
    color: #efadad;
    background-color: rgb(31, 31, 31);
}

.formController:focus{
    background-color: rgba(111, 111, 111, 0.386);
    color: #efadad;
    border: 2px solid rgba(177, 65, 65, 0.523);
}


.bgFormsStyle{
    box-shadow: 3px 3px 20px 0px rgb(194, 142, 142);

}

/*----------- FOOTER  --------------*/


.FooterText {
    min-height: 40%;
    background-size: cover;
    background-color: rgb(85, 0, 20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.bgFooterText {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    width: 100%;
    font-size: 16px;
    letter-spacing: 8px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/bg-testo-forse-def.png");
    background-size: 150%;
    animation: bg-animation 30s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
    padding: 0 20px;
    text-align: center;
}


