body {
    margin: 0;
    padding: 0;
    font-family: 'Mandali', sans-serif;
}


*, *:before,
*:after {
    box-sizing: border-box;
    
}

.backGroundNeon{
    background-image: url("../src/assets/images/horizon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.homeBase{
    height: 100vh;
    background-image: url("../src/assets/images/horizon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    
}

.welcomePage{
    min-height: 70%;
    background-size: cover;
    background-color: rgb(85, 0, 20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.backgroundText{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    width: 100vw;
    font-size: 100px;
    letter-spacing: 12px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/red-baron.jpg");
    background-size: 150%;
    animation: bg-animation 30s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
}


.backgroundText:hover{
    font-size: 120px;
    letter-spacing: 16px;
    text-shadow: 1px 5px 50px rgb(120, 74, 74);
    transition: 2.5s;

}

@keyframes bg-animation {
    0%{background-position: 0% 0%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0% 0%;}
}

.boxToAnimate{
    animation: text-animation1 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes text-animation1{
    0% {
        box-shadow: 0px 10px 13px -7px #000000, 0px 15px 40px 7px #FF6A6A; }

    50% {
        box-shadow: 0px 10px 13px -7px #000000, 0px 15px 80px 7px #FF6A6A; }

    100% {
        box-shadow: 0px 10px 13px -7px #000000, 0px 15px 40px 7px #FF6A6A; }
}

/*-----NAV--------*/

.logoRedshift{
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.offcanvasStyle1{
    background: transparent;

}

.btnNavOffcanv{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/bg-red-black-white.jpg");
    background-size: 250%;
    animation: bg-animation 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
}

.arrowbtnNavOffcanv{
    color: rgb(229, 229, 229);
    text-shadow: 5px 5px 90px rgb(208, 78, 78);
}

.backgroundTextNav {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    
    font-size: 16px;
    letter-spacing: 1.5px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/mountains-planet-sunrise-surreal-foggy-5k-6000x3624-1154.jpg");
    background-size: 150%;
    animation: bg-animation 30s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
}

.backgroundTextNav:hover {
    font-size: 32px;
    letter-spacing: 3px;
    text-shadow: 1px 5px 50px rgb(109, 65, 65);
    transition: 1s;

}

.textTitleNavOffcanv{
    font-size: 32px;
    letter-spacing: 3px;
    text-shadow: 1px 5px 50px rgb(179, 173, 173);
    transition: 1s;
}

.settingTextNav {
    
    background-size: cover;
    background-color: #332702;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------  CARD LANDING PAGE  ---------------- */

.cardLandingPage{
    max-width: 800px;
    max-height: 800px;
    box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
    border-radius: 50px;
    
}

.cardImgLandingPage{
    display: hidden;
    transform:scale(1);
    animation: cardAnimationLand 5s 1 cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes cardAnimationLand{
    0%{display: block;
        transition: 1s;
        transform: scale(0.1) translateY(850px) translateX(-850px) ;}
    50%{transition: 0.5s;
        transform: scale(0.7) translateY(0px) translateX(-300px);}
    
    75%{transition: 0.2s;
        transform: scale(1.2) translateY(0px) translateX(-100px);}    

    100%{transition: 1.5s;
        transform: scale(1) translateY(0px) translateX(0px);}
}



.textCardBio{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/love-heart-hands-3840x3840-10774.jpg");
    background-size: 180%;
    animation: bg-animation 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
}

