body {
    margin: 0;
    padding: 0;
    font-family: 'Mandali', sans-serif;
}


* {
    box-sizing: border-box;
}

.backGroundNeon{
    width: 100vw;
    height: 100vh;
    background-image: url("../src/assets/images/mountains-planet-sunrise-surreal-foggy-5k-6000x3624-1154.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.homeBase{
    height: 100vh;
    background-image: url("../src/assets/images/horizon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
}

.welcomePage{
    min-height: 70%;
    background-size: cover;
    background-color: #332702;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.backgroundText{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    width: 100vw;
    font-size: 72px;
    letter-spacing: 10px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/mountains-planet-sunrise-surreal-foggy-5k-6000x3624-1154.jpg");
    background-size: 150%;
    animation: bg-animation 30s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
}


.backgroundText:hover{
    font-size: 90px;
    letter-spacing: 12px;
    text-shadow: 1px 5px 50px rgb(120, 74, 74);
    transition: 2.5s;

}

@keyframes bg-animation {
    0%{background-position: 0% 0%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0% 0%;}
}

/*-----NAV--------*/

.logoRedshift{
    width: 80px;
    height: 80px;

}

.offcanvasStyle1{
    background: transparent;

}

.backgroundTextNav {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    width: 100vw;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("../src/assets/images/mountains-planet-sunrise-surreal-foggy-5k-6000x3624-1154.jpg");
    background-size: 150%;
    animation: bg-animation 30s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    text-shadow: 1px 5px 90px rgb(187, 187, 187);
}

.backgroundTextNav:hover {
    font-size: 32px;
    letter-spacing: 3px;
    text-shadow: 1px 5px 50px rgb(120, 74, 74);
    transition: 1s;

}

.settingTextNav {
    
    background-size: cover;
    background-color: #332702;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
