.html {
    scroll-snap-type: y mandatory;
}

section {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    scroll-snap-align: start;
}

*,
*:before,
*:after {
    box-sizing: border-box;

}

.html::-webkit-scrollbar {
    width: 12px;
}

.html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(102, 46, 46, 0.491);
    border-radius: 20px;

}

.html::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(240, 74, 74, 0.5);

}

.homeBase2 {
    height: 100vh;
    background-image: url("../../assets/images/bg-definitivo-red.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.backGroundNeon2 {
    height: 100%;
    background-image: url("../../assets/images/bg-definitivo-red.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    scroll-snap-align: start;
}

.cardLandingPage1 {
    max-width: 500px;
    max-height: 500px;
    box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
    border-radius: 50px;
    padding: auto;
}

@media screen and (max-width: 992px) {
    .cardLandingPage1 {
        width: 300px;
        height: 500px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }
    .fixImgCardHome1 {
        position: relative;
        height: 490px;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }

}

@media screen and (min-width: 1202px) and (max-width: 1399px) {
    .cardLandingPage1 {
        max-width: 500px;
        max-height: 550px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }

    .fixImgCardHome1 {
        position: relative;
        height: 490px;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }

}

@media screen and (min-width: 1400px) {
    .cardLandingPage1 {
        max-width: 500px;
        max-height: 550px;
        box-shadow: 3px 3px 20px 0px rgb(47, 1, 1);
        border-radius: 50px;
        padding: auto;
    }

    .fixImgCardHome1 {
        position: relative;
        height: 490px;
        object-fit: cover;
        border-radius: 40px;
        display: hidden;
        transform: scale(1) translateY(0px) translateX(0px);
        animation: bg-animation2 2s cubic-bezier(.46, .51, .86, .09);
        animation-iteration-count: 1
    }

}

@media screen and (min-width: 1400px) {
    .cardSingleCol1 {
        max-width: 2000px;
        padding: 0 200px
    }



    .cardSingleColSelect1 {
        max-width: 400px;

    }

    .cardSingleColSelect1:hover {
        transition: 1.5s;
        max-width: 500px;
        margin: 0 50px;
        padding: 0 100px;
    }

}

@media screen and (min-width: 1202px) and (max-width: 1399px) {
    .cardSingleCol1 {
        max-width: 1400px;
        padding: 0 200px
    }



    .cardSingleColSelect1 {
        max-width: 500px;

    }

    .cardSingleColSelect1:hover {
        transition: 1.5s;
        max-width: 500px;
        margin: 0 50px;
        padding: 0 100px;
    }

}

@media screen and (min-width: 993px) and (max-width: 1201px) {
    .cardSingleCol1 {
        max-width: 1200px;
        padding: 0 100px
    }



    .cardSingleColSelect1 {
        max-width: 300px;

    }

    .cardSingleColSelect1:hover {
        transition: 1.5s;
        max-width: 400px;
        margin: 0 50px;
        padding: 0 60px;
    }

}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .cardSingleCol1 {
        max-width: 1200px;
        padding: 0 100px
    }



    .cardSingleColSelect1 {
        max-width: 300px;

    }

    .cardSingleColSelect1:hover {
        transition: 1.5s;
        max-width: 400px;
        margin: 0 50px;
        padding: 0 60px;
    }
}

@media screen and (max-width: 576px) {
    .cardSingleCol1 {
        max-width: 1200px;
        padding: 0 100px
    }



    .cardSingleColSelect1 {
        max-width: 300px;

    }

    .cardSingleColSelect1:hover {
        transition: 1.5s;
        max-width: 400px;
        margin: 0 50px;
        padding: 0 60px;
    }
}

@media screen and (max-width: 576px) {
    .contentCard2bis {
        width: auto;

    }
}



.contentCard2bis:hover {
    text-align: center;
    color: rgb(255, 190, 190);
    text-shadow: 2px 2px 22px rgb(130, 103, 103);
    background: rgba(22, 16, 16, 0.8);
    transition: 1s;

}